/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/


# Ignore local gems files.
/.gems
.rbenv-gemsets

# Ignore files.
tags
*.swp
.DS_Store
